html, body {
  height: 100%;
}

footer {
  padding: 10px 0 10px 17%;

  span.name{
    position: relative;
    top: -4px;
    padding-right: 8px;
  }

  a {
    padding-right: 8px;
  }
}

.container-fluid {
  min-height: 90%;
  max-width: 980px;
}

.row {
  height: 100%;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

#tweets-col {
  padding-left:20px;
  padding-top: 39px;
  height:100%;
}

.tweets-container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  height: 90%;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-top: 25px;

  ul {
    list-style: none;
    height:inherit;
    overflow:auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 5px;
    max-height: 500px;

    li.spinner-container {
      height: 30px;
    }
  }

  .tweets-label {
    font-family: sans-serif;
    font-size: 11pt;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  }
}

#video-col {
  padding-left: 20px;
}

.video-container {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-top: 64px;
  padding: 45px 10px 40px 10px;
  width: 560px;
  h2 {
    max-width: 540px;
    margin-top: 0;
  }
}

ul.select2-results{
  max-height:400px;

  .video-title {
    padding-left:10px;
    max-width:600px;
    display:inline-block;
  }
}