@(message: String)

@main("Search for Tweets mentioning Youtube videos") {

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div id="search-box-container" class="container-fluid"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 pull-left" id="video-col"></div>
            <div class="col-md-5 pull-left" id="tweets-col"></div>
        </div>
    </div>

    <footer>
        <span>
            <span class="name">Created by Matt Olson</span>
            <a href="https://github.com/mlolson/tint" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        </span>
    </footer>
}
