@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/vendor/select2/select2.css")">

        <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src=//connect.facebook.net/en_US/all.js#xfbml=1" charset="utf-8"></script>

        <script data-main="assets/javascripts/main.js" src="assets/javascripts/vendor/require/build/require.js"></script>

    </head>
    <body>
        @content

        <footer>
            <p>Created by Matt Olson - Source</p>
        </footer>
    </body>
</html>